.servicios
{
    max-width: 1920px;
    background-image: url("../images/servicios.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.servicios .row .col h2
{
    text-align: Center;
    color: rgb(32, 132, 32);
    text-shadow: 2px 0 #fff, -2px 0 #ffffff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.Servicio img
{
    width: 150px;
    margin: auto;
}
