.about-us
{
    background-color: brown;
}

#about-us 
{
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px;
}


@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}
.login-box form .btn:active {
    background: #fff;
    color: #03e9f4;
}

.gradient-button {
    background: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
    border: none;
}

    .gradient-button:active {
        background: linear-gradient(to right, #243b55, #141e30);
        color: #fff;
    }

.btn-user {
    position: relative;
    overflow: hidden;
}

    .btn-user:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(3,233,244,0) 0%, rgba(3,233,244,0.5) 50%, rgba(3,233,244,0) 100%);
        z-index: 1;
        animation: move 2s linear infinite;
    }

@keyframes move {
    0% {
        transform: translateX(-500%);
    }

    100% {
        transform: translateX(100%);
    }
}

.Mision-Img img
{
    width: 40vw;
}

h3
{
    text-shadow: 2px 0 #fff, -2px 0 #ffffff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

h4
{
    text-shadow: 2px 0 #fff, -2px 0 #ffffff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}